{% extends "../base.html" %}
{% load static %}
{% load permissions %}
{% block extra_head %}  
    <script src="{% static 'scripts/createList.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/modify_list/createList.css' %}">
    {% if list_type == "text" %}
        <link rel="stylesheet" href="{% static 'styles/modify_list/text-create.css' %}">
    {% elif list_type == "image" %}
        <link rel="stylesheet" href="{% static 'styles/modify_list/image-create.css' %}">
    {% endif %}
{% endblock %}

{% block main %}
	<main class="main-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ thing_forms.management_form }}
            <div class="page-header">
                <div class="page-title">
                    {% if new_list %}
                        Create a New List
                    {% else %}
                        Edit List
                    {% endif %}
                </div>
                <div class="create-list-button-container">
                    <button class="create-list-button" type="submit">
                        {% if new_list %}
                            Create
                        {% else %}
                            Save
                        {% endif %}
                    </button>
                </div>
            </div>
            <div class="list-details">
                <label style="display: none;" for="{{list_form.name.id_for_label}}">List Title</label>
                <input class="list-name-input text-input" 
                    id="{{list_form.name.id_for_label}}" 
                    name="{{list_form.name.html_name}}" 
                    value="{{list_form.name.value|default_if_none:''}}"
                    type="text" placeholder="Title">
                
                <label style="display: none;" for="{{list_form.description.id_for_label}}">List Description</label>
                <div class="horizontal-input-container">
                    <textarea class="list-description-input text-input" 
                        id="{{list_form.description.id_for_label}}" 
                        name="{{list_form.description.html_name }}"
                        rows="4" 
                        placeholder="Enter a description...">{{list_form.description.value|default_if_none:''}}</textarea>

                    <div class="list-image-container">
                        <label class="list-file-input" for="{{list_form.image.id_for_label}}"> 
                            {% if list_form.image.value %}
                                <div class="unselected-list-image js-unselected-list-image" style="display: none;">Choose Image</div>
                                <img class="selected-list-image js-selected-list-image" src="{{list_form.image.value.url}}">
                            {% else %}
                                <div class="unselected-list-image js-unselected-list-image">Choose Image</div>
                                <img class="selected-list-image js-selected-list-image" style="display: none;" src="">
                            {% endif %}
                        </label> 
                        <input style="display: none;" class="js-list-image-input"
                            id="{{list_form.image.id_for_label}}"
                            name="{{list_form.image.html_name}}"
                            value="{{list_form.image.value}}" 
                            type="file" accept="image/*">

                        {% if list_form.image.value %}
                            <div id="js-remove-list-image" class="remove-list-image-button">
                                Remove Image
                            </div>
                        {% else %}
                            <div id="js-remove-list-image" class="remove-list-image-button" style="display: none;">
                                Remove Image
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="multiple-choice-options">
                    <div class="permissions-container">
                        <div class="radio-input-container">
                            <div class="radio-input-title">Visibility</div>
                            <div class="radio-input">
                                {% for value, label in list_form.fields.permission.choices %}
                                    <label class="label">
                                        <input type="radio" 
                                            name="permission" value="{{ value }}"
                                            data-description="{{ value|permission_description }}"
                                            {% if list_form.permission.value == value %}checked{% endif %}>
                                        <p class="radio-input-text">{{ label }}</p>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <p class="permission-details" id="permission-details"></p>
                        </div>
                    </div>
                    <div class="radio-input-container">
                        <div class="radio-input-title">Comparison Model</div>
                        <div class="radio-input">
                            {% for value, label in list_form.fields.comparison_method.choices %}
                                <label class="label">
                                    <input type="radio" 
                                        name="{{ list_form.comparison_method.html_name }}" value="{{ value }}"
                                        {% if list_form.comparison_method.value == value %}checked{% endif %}>
                                    <p class="radio-input-text">{{ label }}</p>
                                </label>
                            {% endfor %}
                            </div>
                    </div>
                </div>
                <div class="error-text">
                    {{ error }}
                    {% for error in list_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    {% if thing_forms.errors %}
                        {% for field in thing_forms %}
                            {% for error in field.errors %}
                                    {{field.label}}: {{ error|escape }}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {{list_form.name.errors}}
                    {{list_form.image.errors}}
                    {{list_form.description.errors}}
                </div>
            </div>
            <div class="list-of-things-header">1321 Things</div>
            {% if list_type == 'text' %}
                {% include "./text-create.html" with thing_forms=thing_forms %}
            {% elif list_type == 'image' %}
                {% include "./image-create.html" with thing_forms=thing_forms %}
            {% endif %}
        </form>
	</main>
{% endblock %}