{% load static %}
<div class="list-of-things-container" id="js-list-of-things">
    {% for thing_form in thing_forms %}
    <div class="thing-container">
        <div class="vertical-buttons">
            <div class="thing-number">1321</div>
            <div class="bottom-vertical-buttons">
                <div class="info-icon-container">
                    <img class="info-icon-image" src="{% static 'images/info-icon-a.png' %}">
                </div>
                <div class="trash-can-icon-container">
                    <img class="trash-can-icon-image" src="{% static 'images/trash-can-icon.png' %}">
                    <input type="checkbox" name="{{ thing_form.DELETE.html_name }}" class="delete-checkbox" hidden>
                </div>
            </div>
        </div>
        <div>
            <label class="thing-image-container" for="{{thing_form.image.id_for_label}}">
                {% if thing_form.image.value %}
                <div class="unselected-thing-image js-unselected-thing-image" style="display: none;">Choose Image</div>
                <img class="selected-thing-image js-selected-thing-image" src="{{thing_form.image.value.url}}">
                {% else %}
                <div class="unselected-thing-image js-unselected-thing-image">Choose Image</div>
                <img class="selected-thing-image js-selected-thing-image" style="display: none;" src="">
                {% endif %}
            </label>
            <input style="display: none;" class="js-image-input"
                id="{{thing_form.image.id_for_label}}"
                name="{{thing_form.image.html_name}}" 
                value="{{thing_form.image.value}}"
                type="file" accept="image/*">
        </div>
        {{ thing_form.id }}
    </div>
    {{thing_form.name.errors}} {{thing_form.image.errors}}
    {% endfor %}
    <div class="add-new-thing-container" id="js-add-thing-button">
        <label class="add-new-thing-text">Add new thing</label>
    </div>
</div>
<div id="empty-form-template" style="display: none;">
    <div class="thing-container">
        <div class="vertical-buttons">
            <div class="thing-number">1321</div>
            <div class="bottom-vertical-buttons">
                <div class="trash-can-icon-container">
                    <img class="trash-can-icon-image" src="{% static 'images/trash-can-icon.png' %}">
                    <input type="checkbox" name="{{thing_forms.empty_form.DELETE.html_name}}" class="delete-checkbox" hidden>
                </div>
            </div>
        </div>
        <div>
            <label class="thing-image-container" for="{{thing_forms.empty_form.image.id_for_label}}">
                <div class="unselected-thing-image js-unselected-thing-image">Choose Image</div>
                <img class="selected-thing-image js-selected-thing-image" style="display: none;" src="{{thing_form.empty_form.image.value.url}}">
            </label>
            <input style="display: none;" class="js-image-input"
                id="{{thing_forms.empty_form.image.id_for_label}}"
                name="{{thing_forms.empty_form.image.html_name}}" 
                value="{{thing_forms.empty_form.image.value}}"
                type="file" accept="image/*">
        </div>
        {{ thing_forms.empty_form.id }}
    </div>
</div>