{% extends "../base.html" %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/modify_list/list-type-choices.css' %}">
    <script src="{% static 'scripts/list-type-choices.js' %}"></script>
    <title>Choose List Type - Head2Head</title>
{% endblock %}
{% block main %}
<main class="main-container">
    <div class="body-heading">How do you want to create your list?</div>
    <div class="all-option-boxes">
        <a class="single-option-box" href="{% url 'create_text_list' %}">
            <div class="option-name">
                Manual Create
            </div>
            <div class="option-image-container">
                <img class="option-image manual-create-image" src="{% static 'images/manual-create.svg' %}">
            </div>
            <div class="option-description manual-create-text">
                Create a list from scratch
            </div>
        </a>
        <div class="single-option-box" id="js-import-file">
            <div class="option-name">
                Import File
            </div>
            <!-- Toggles between these two -->
            <div class="option-image-container" id="js-upload-file-image">
                <img class="option-image upload-file-image" src="{% static 'images/upload-file.svg' %}">
            </div>
            <form method="post" enctype="multipart/form-data" class="no-display" id="js-popup-container">
                {% csrf_token %}
                <div class="upload-form-container">
                    <label for="file-input" class="file-input">Upload File</label>
                    <input type="file" name="file-input" id="file-input" class="no-display" accept="text/plain">
                    <span id="file-name">No file selected</span>
                    <button type="submit" class="file-submit">Create</button>
                </div>
            </form>
            <!-- End Toggle -->
            <div class="option-description">
                Upload a file to populate the list automatically
            </div>
        </div>
        <a class="single-option-box" href="{% url 'create_image_list' %}">
            <div class="option-name">
                Images Only
            </div>
            <div class="option-image-container">
                <img class="option-image" src="{% static 'images/images-only.svg' %}">
            </div>
            <div class="option-description">
                Create a list that uses images and no text
            </div>
        </a>
    </div>
</main>
{% endblock %}