{% extends "../base.html" %}
{% load static %}
{% block extra_head %}
<style>
    
    html {
        height: 100%;
        width: 100%;
        background-color: rgb(0, 0, 68);
    }
    .main-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        text-align: center;

    }
    .body-heading {
        font-size: 40px;
    }
    .all-option-boxes{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .single-option-box {
        width: 250px;
        height: 250px;
        border: 1px solid white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
    }
    .option-name {
        font-size: 34px;
        margin-top: 10px;
    }
    .option-image-container {
        height: 120px;
    }
    .option-image {
        height: 120px;
    }
    .option-description {
        text-wrap: balance;
        font-size: 18px;
    }
    .upload-form-container{
        height: 120px;
        border-radius: 8px;
        background-color: var(--secondary);
        color: var(--highlight);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 250px;
        cursor: auto;
    }
    .file-input {
        border-radius: 8px;
        padding: 6px 6px;
        color: var(--highlight);
        background-color: var(--tertiary);
        cursor: pointer;
    }
    .file-submit {
        border-radius: 8px;
        padding: 6px 6px;
        color: var(--highlight);
        background-color: var(--important);
        border-width: 0px;
        cursor: pointer;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const csvReveal = document.getElementById("js-popup-container")
        const uploadFileImage = document.getElementById("js-upload-file-image")

        document.getElementById("js-import-file").addEventListener("click", (e) => {
            if (e.target.closest("#js-popup-container")) return;
            if (csvReveal.style.display === "none") {
                csvReveal.style.display = 'flex';
                uploadFileImage.style.display = 'none';
            } else {
                csvReveal.style.display = 'none';
                uploadFileImage.style.display = 'block';
            }
        });
        const fileInput = document.getElementById("file-input");
        const fileName = document.getElementById("file-name");
        fileInput.addEventListener("change", () => {
            fileName.textContent = fileInput.files.length > 0
                ? fileInput.files[0].name
                : "No file selected";
        });

    });
</script>
{% endblock %}
{% block main %}
<main class="main-container">
    <div class="body-heading">How do you want to create your list?</div>
    <div class="all-option-boxes">
        <a class="single-option-box" href="{% url 'create_text_list' %}">
            <div class="option-name">
                Manual Create
            </div>
            <div class="option-image-container">
                <img class="option-image" src="{% static 'images/L-Square.png' %}">
            </div>
            <div class="option-description">
                Create a list from scratch
            </div>
        </a>
        <div class="single-option-box" id="js-import-file">
            <div class="option-name">
                Import File
            </div>
            <!-- Toggles between these two -->
            <div class="option-image-container" id="js-upload-file-image">
                <img class="option-image" src="{% static 'images/L-Square.png' %}">
            </div>
            <form method="post" enctype="multipart/form-data" style="display: none;" id="js-popup-container">
                {% csrf_token %}
                <div class="upload-form-container">
                    <label for="file-input" class="file-input">Upload File</label>
                    <input type="file" name="file-input" id="file-input" style="display: none;" accept="text/plain">
                    <span id="file-name">No file selected</span>
                    <button type="submit" class="file-submit">Create</button>
                </div>
            </form>
            <!-- End Toggle -->
            <div class="option-description">
                Upload a file to populate the list automatically
            </div>
        </div>
        <a class="single-option-box" href="{% url 'create_image_list' %}">
            <div class="option-name">
                Images Only
            </div>
            <div class="option-image-container">
                <img class="option-image" src="{% static 'images/L-Square.png' %}">
            </div>
            <div class="option-description">
                Create a list that uses images and no text
            </div>
        </a>
    </div>
</main>
{% endblock %}