{% load static %}
<div class="list-of-things-container" id="js-list-of-things">
    {% for thing_form in thing_forms %}
    <div class="thing-container">
        <div class="top-row-buttons">
            <div class="utility-button-container">
                <div class="thing-number">1321</div>
                <!--
                <div class="info-icon-container js-load-matchups">
                    <img class="info-icon-image" src="{% static 'images/info-icon-a.png' %}">
                    <div class="past-matchup-sheet js-matchup-history" style="display: none;">
                        Loading Matchups...
                    </div>
                </div>
                -->
                <div class="trash-can-icon-container">
                    <img class="trash-can-icon-image" src="{% static 'images/trash-can-icon.png' %}">
                    <input type="checkbox" name="{{ thing_form.DELETE.html_name }}" class="delete-checkbox" hidden>
                </div>
            </div>
            <div class="thing-image-options-container">
                {% if thing_form.image.value %}
                <div class="thing-remove-image-button js-remove-image-button">
                    Remove Image
                </div>
                {% else %}
                <div style="display: none;" class="thing-remove-image-button js-remove-image-button">
                    Remove Image
                </div>
                {% endif %}
                <label class="thing-image-container" for="{{thing_form.image.id_for_label}}">
                    {% if thing_form.image.value %}
                    <div class="unselected-thing-image js-unselected-thing-image" style="display: none;">Choose Image</div>
                    <img class="selected-thing-image js-selected-thing-image" src="{{thing_form.image.value.url}}">
                    {% else %}
                    <div class="unselected-thing-image js-unselected-thing-image">Choose Image</div>
                    <img class="selected-thing-image js-selected-thing-image" style="display: none;" src="">
                    {% endif %}
                </label>
                <input style="display: none;" class="js-image-input"
                    id="{{thing_form.image.id_for_label}}"
                    name="{{thing_form.image.html_name}}" 
                    value="{{thing_form.image.value}}"
                    type="file" accept="image/*">
            </div>
        </div>
        <label style="display: none;" for="{{thing_form.name.id_for_label}}">Thing Name</label>
        <input class="thing-name-input text-input" 
            id="{{thing_form.name.id_for_label}}" 
            name="{{thing_form.name.html_name}}" 
            value="{{thing_form.name.value}}"
            type="text" placeholder="Enter a thing">

        <!-- Flag for image to be removed when "Remove Image" button is clicked -->
        <input type="hidden" name="remove_image_{{thing_form.prefix}}" class="js-remove-image-flag" value="false">
       {{ thing_form.id }}
       <div class="error-text">
            {% for errors in thing_form.errors.values %}
                {% for error in errors %}
                    {{ error }} <br>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                {{ error }} <br>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="add-new-thing-container" id="js-add-thing-button">
        <label class="add-new-thing-text">Add new thing</label>
    </div>
</div>
<div id="empty-form-template" style="display: none;">
    <div class="thing-container">
        <div class="top-row-buttons">
            <div class="utility-button-container">
                <div class="thing-number">1321</div>
                <div class="trash-can-icon-container">
                    <img class="trash-can-icon-image" src="{% static 'images/trash-can-icon.png' %}">
                    <input type="checkbox" name="{{thing_forms.empty_form.DELETE.html_name}}" class="delete-checkbox" hidden>
                </div>
            </div>
            <div class="thing-image-options-container">
                <div style="display: none;" class="thing-remove-image-button js-remove-image-button">
                    Remove Image
                </div>
                <label class="thing-image-container" for="{{thing_forms.empty_form.image.id_for_label}}">
                    <div class="unselected-thing-image js-unselected-thing-image">Choose Image</div>
                    <img class="selected-thing-image js-selected-thing-image" style="display: none;" src="{{thing_form.empty_form.image.value.url}}">
                </label>
                <input style="display: none;" class="js-image-input"
                    id="{{thing_forms.empty_form.image.id_for_label}}"
                    name="{{thing_forms.empty_form.image.html_name}}" 
                    value="{{thing_forms.empty_form.image.value}}"
                    type="file" accept="image/*">
            </div>
        </div>
        <label style="display: none;" for="{{thing_forms.empty_form.name.id_for_label}}">Thing Name</label>
        <input class="thing-name-input text-input" 
            id="{{thing_forms.empty_form.name.id_for_label}}" 
            name="{{thing_forms.empty_form.name.html_name}}" 
            type="text" placeholder="Enter a thing">
        </div>
        {{ thing_forms.empty_form.id }}
    </div>
</div> 