{% extends "./base.html" %}
{% load static %}
{% block extra_head %}  
    <link rel="stylesheet" href="{% static 'styles/create-profile.css' %}">
    <script src="{% static 'scripts/create-profile.js' %}"></script>
    <title>Create Profile - Head2Head</title>
{% endblock %}

{% block main %}
	<main class="main-container">
        <form method="post" enctype="multipart/form-data">
            <div class="form-box"> 
                {% csrf_token %}
                
                <label class="profile-image-container" for="{{profile_form.image.id_for_label}}">
                    <img class="profile-image user-image" id="js-profile-image" src="{{profile_form.image.value.url}}">
                    <div class="profile-image-tooltip">Change Image</div>
                </label>  

                <input class="no-display js-image-input"
                        id="{{profile_form.image.id_for_label}}"
                        name="{{profile_form.image.name}}"
                        value="{{profile_form.image.value}}" 
                        type="file" accept="image/*">

                <label class="no-display" for="{{profile_form.username.id_for_label}}">Username</label>
                <input class="profile-name-input" 
                    id="{{profile_form.username.id_for_label}}" 
                    name="{{profile_form.username.name}}" 
                    value="{{profile_form.username.value|default_if_none:''}}"
                    type="text" placeholder="Enter a Username">
                
                {% if profile_form.errors %}
                    <div class="error-text">
                        {% for errors in profile_form.errors.values %}
                            {% for error in errors %}
                                {{ error }} <br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                <input class="profile-form-submit" type="submit">
            </div>
        </form>
	</main>
{% endblock %}