{% extends "./base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    
    <script src="{% static 'scripts/createList.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/createList.css' %}">
{% endblock %}

{% block main %}
	<main class="main-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ thing_forms.management_form }}
            <div class="page-header">
                <div class="page-title">
                    Create a new thing list
                </div>
                <div class="create-list-button-container">
                    <button class="create-list-button" type="submit">Create</button>
                </div>
            </div>
            <div class="list-details">
                <label style="display: none;" for="{{list_form.name.id_for_label}}">List Title</label>
                <input class="list-name-input" 
                    id="{{list_form.name.id_for_label}}" 
                    name="{{list_form.name.name}}" 
                    value="{{list_form.name.value|default_if_none:''}}"
                    type="text" placeholder="Title">
                
                <label class="list-file-input" for="{{list_form.image.id_for_label}}">Choose Image</label>   
                <input style="display: none;" 
                    id="{{list_form.image.id_for_label}}"
                    name="{{list_form.image.name}}"
                    value="{{list_form.image.value}}" 
                    type="file">
                
                <label style="display: none;" for="{{list_form.description.id_for_label}}">List Description</label>
                <input class="list-description-input" 
                    id="{{list_form.description.id_for_label}}" 
                    name="{{list_form.description.name }}" 
                    value="{{list_form.description.value|default_if_none:''}}"
                    type="text" placeholder="Description">
                <div class="list-errors" style="color: white;">
                    regular error: {{ error }}
                    {% for error in list_form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    Thing Errors:
                    {% if thing_form.errors %}
                        {% for field in thing_form %}
                            {% for error in field.errors %}
                                    {{field.label}}: {{ error|escape }}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    List Errors:
                    Name: {{list_form.name.errors}}
                    Image: {{list_form.image.errors}}
                    Description: {{list_form.description.errors}}
                </div>
            </div>
            <div class="list-of-things-container" id="list-of-things-container">
                {% for thing_form in thing_forms %}
                <div class="thing-container">
                    <label style="display: none;" for="{{thing_form.name.id_for_label}}">Thing Name</label>
                    <input class="thing-name-input" 
                        id="{{thing_form.name.id_for_label}}" 
                        name="{{thing_form.name.name}}" 
                        value="{{thing_form.name.value}}"
                        type="text" placeholder="Enter a thing">
                    
                    <label class="thing-file-input" for="{{thing_form.image.id_for_label}}">Choose Image</label>
                    <input style="display: none;" 
                        id="{{thing_form.image.id_for_label}}"
                        name="{{thing_form.image.name}}" 
                        value="{{thing_form.image.value}}"
                        type="file">
                    
                    <div class="trash-can-icon-container">
                        <img class="trash-can-icon-image" src="{% static 'images/trash-can-icon.png' %}">
                    </div>
                    <div class="info-icon-container">
                        <img class="info-icon-image" src="{% static 'images/info-icon-a.png' %}">
                    </div>
                </div>
                {{form.name.errors}} {{form.image.errors}}
                {% endfor %}
            </div>
            <div id="empty-form-template" style="display: none;">
                <div class="thing-container js-thing-container">
                    <label style="display: none;" for="{{thing_forms.empty_form.name.id_for_label}}">Thing Name</label>
                    <input class="thing-name-input" 
                        id="{{thing_forms.empty_form.name.id_for_label}}" 
                        name="{{thing_forms.empty_form.name.html_name}}" 
                        type="text" placeholder="Enter a thing">
                    
                    <label class="thing-file-input" for="{{thing_forms.empty_form.image.id_for_label}}">Choose Image</label>
                    <input style="display: none;" 
                        id="{{thing_forms.empty_form.image.id_for_label}}"
                        name="{{thing_forms.empty_form.image.html_name}}" 
                        type="file">
                    
                    <div class="trash-can-icon-container">
                        <img class="trash-can-icon-image" src="{% static 'images/trash-can-icon.png' %}">
                    </div>
                    <div class="info-icon-container">
                        <img class="info-icon-image" src="{% static 'images/info-icon-a.png' %}">
                    </div>
                </div>
            </div>

            <div class="add-new-thing-container" id="add-thing-button">
                <label class="add-new-thing-text">Add new thing</label>
            </div>
        </form>
	</main>
{% endblock %}