{% extends "./base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>Home - Head2Head</title>
{% endblock %}
{% block main %}
<main class="main-container">
    <div class="title-container">
        <img class="big-logo" src="{% static 'images/arrow-logo.png' %}">
        <div class="website-name">Head2Head</div>
        <div><i>Rank anything, one showdown at a time</i></div>
    </div>
    <div class="first-description-container">
        <div class="second-description-container">
            <div class="website-description">
                <div class="absolute-container">
                    <img class="create-list-image" src="{% static 'images/homepage/CreateListExample.png' %}">
                    <span class="create-list-text"><b>Start a list.</b> Add anything you want: shows, players, foods, whatever</span>
                    <span class="rank-text"><b>Pick between two.</b> We show you pairs<br>from your list, you choose the winner</span>
                    <img class="rank-image" src="{% static 'images/homepage/RankExample.png' %}">
                    <img class="list-info-image" src="{% static 'images/homepage/ListInfoExample.png' %}">
                    <span class="list-info-text"><b>Get your lineup.</b> After enough matchups, your list is ranked from top to bottom</span>
                </div>
            </div>
        </div>
    </div>
    <div class="getting-started">
        <div class="getting-started-text">To get started, create a list or visit an existing one.</div>
        <div class="redirect-buttons">
            <a href="{% url 'list_type_choices' %}">
                <div class="large-create-button">
                    <img class="large-plus-icon" src="{% static 'images/plus-icon.png' %}">
                    Create
                </div>
            </a>
            <a href="{% url 'explore' %}">
                <div class="large-explore-button">
                    <img class="large-explore-icon" src="{% static 'images/explore-icon.png' %}">
                    Explore
                </div>
            </a>
        </div>
    </div>

    

    <!-- Recent, Popular, By Authors you've interacted with -->
</main>
{% endblock %}