{% extends "./base.html" %}
{% load static %}
{% block extra_head %}
    <style>
        .primary-container {
            padding-left: 0;
            padding-right: 0;
        }
        .main-container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22.5px;
        }
        .title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .website-name {
            font-size: 60px;
        }
        .big-logo {
            height: 240px;
        }

        .create-list-image, .rank-image, .list-info-image {
            border-radius: 7.5px;
        }
        .first-description-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--secondary);
            width: 100%;
            height: 570px;
        }
        .second-description-container {
            width: 745px;
            height: 540px;
            position: relative;
            border-radius: 10px;
            background-color: var(--primary);
        }
        .absolute-container{
            top: 15px;
            left: 15px;
            position: relative;
            width: 705px;
            height: 510px;
            background-color: var(--primary);
        }
        .create-list-image {
            width: 439.5px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .create-list-text{
            text-align: center;
            position: absolute;
            left: 450px;
            top: 30px;
        }
        .rank-image {
            height: 300px;
            position: absolute;
            top: 105px;
            left: 471px;
        }
        .rank-text{
            text-align: center;
            position: absolute;
            top: 282px;
            left: 90px;
        }
        .list-info-image {
            width: 439.5px;
            position: absolute;
            top: 381px;
            left: 0px;
        }
        .list-info-text {
            text-align: center;
            position: absolute;
            top: 420px;
            left: 450px;
        }

        .getting-started {
            
        }
        .getting-started-text {
            margin-bottom: 12px;
        }
        .redirect-buttons {
            display: flex;
            justify-content: center;
            gap: 30px;
            text-align: center;
        }
        .large-create-button, .large-explore-button {
            border-radius: 12px;
            height: 135px;
            width: 135px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: var(--secondary);
        }
        .large-create-button {

        }
        .large-explore-button {}
        .large-plus-icon {
            height: 90px;
            aspect-ratio: 1;
        }
        .large-explore-icon {
            height: 90px;
            width: 90px;
        }
    </style>
{% endblock %}
{% block main %}
<main class="main-container">
    <div class="title-container">
        <img class="big-logo" src="{% static 'images/arrow-logo.png' %}">
        <div class="website-name">Head2Head</div>
        <div>Rank <i>Anything</i></div>
    </div>
    <div class="first-description-container">
        <div class="second-description-container">
            <div class="website-description">
                <div class="absolute-container">
                    <img class="create-list-image" src="{% static 'images/homepage/CreateListExample.png' %}">
                    <span class="create-list-text">First, Create a List and<br>Invite your Friends</span>
                    <span class="rank-text">Next, Compare Things in<br>your List One on One</span>
                    <img class="rank-image" src="{% static 'images/homepage/RankExample.png' %}">
                    <img class="list-info-image" src="{% static 'images/homepage/ListInfoExample.png' %}">
                    <span class="list-info-text">Finally, See which things<br>made it to the top</span>
                </div>
            </div>
        </div>
    </div>
    <div class="getting-started">
        <div class="getting-started-text">To get started, create a list or visit an existing one.</div>
        <div class="redirect-buttons">
            <a href="{% url 'list_type_choices' %}">
                <div class="large-create-button">
                    <img class="large-plus-icon" src="{% static 'images/plus-icon.png' %}">
                    Create
                </div>
            </a>
            <a href="{% url 'explore' %}">
                <div class="large-explore-button">
                    <img class="large-explore-icon" src="{% static 'images/explore-icon.png' %}">
                    Explore
                </div>
            </a>
        </div>
    </div>

    

    <!-- Recent, Popular, By Authors you've interacted with -->
</main>
{% endblock %}