{% extends "./base.html" %}
{% block extra_head %}
    {% load static %}
    {% load mathfilters %}
    <link rel="stylesheet" href="{% static 'styles/list-info.css' %}">
    <div style="display: none;" id="list-slug">{{list.slug}}</div>
    <div style="display: none;" id="total-num-things">{{list.num_things}}</div>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <script>
        let listSlug;
        let numThingsLoaded = 0;
        let totalNumThings;
        let allThingsList; 
        let allThingsButton;
        let permission;
        //templates
        let emptyBox; let textAndImage; let textOnly;
        document.addEventListener("DOMContentLoaded", async () => {
            totalNumThings = document.getElementById("total-num-things").textContent;
            listSlug = document.getElementById("list-slug").textContent;
            allThingsList = document.getElementById("all-things-list");
            permission = document.getElementById("permission").textContent;

            emptyBox = document.getElementById("empty-thing-box");
            textAndImage = document.getElementById("text-and-image");
            textOnly = document.getElementById("text-only");
            wonMatchup = document.getElementById("won-matchup");
            lostMatchup = document.getElementById("lost-matchup");

            allThingsButton = document.getElementById("all-things-button");
            allThingsButton.addEventListener("click", () => {
                fetchAllThings();
            });
            // Add initial Top/Bottom 5 Event Listeners
            for (const thingBox of document.getElementById("js-top-five").children) {
                addLoadMatchupsListener(thingBox);
            }
            for (const thingBox of document.getElementById("js-bottom-five").children) {
                addLoadMatchupsListener(thingBox);
            }
        });
        async function fetchAllThings() {
            const response = await fetch(`/${listSlug}/get-all-things?loaded=${numThingsLoaded}`);
            const data = await response.json();
            console.log(data.things);
            data.things.forEach(async thing => {
                const thingBox = emptyBox.content.cloneNode(true).querySelector("#thing-box");
                numThingsLoaded++;
                thingBox.querySelector(".js-position-number").textContent = numThingsLoaded;
                
                if (thing.image) {
                    const nameBox = textAndImage.content.cloneNode(true);
                    nameBox.querySelector(".js-thing-name").textContent = thing.name;
                    nameBox.querySelector(".js-thing-image").src = thing.image;
                    thingBox.insertBefore(nameBox, thingBox.querySelector("#thing-record"));
                } else {
                    const nameBox = textOnly.content.cloneNode(true);
                    nameBox.querySelector(".js-thing-name-only").textContent = thing.name;
                    thingBox.insertBefore(nameBox, thingBox.querySelector("#thing-record"));
                }
                thingBox.querySelector(".js-thing-wins").textContent = thing.wins;
                thingBox.querySelector(".js-thing-losses").textContent = thing.losses;
                addLoadMatchupsListener(thingBox);
                allThingsList.appendChild(thingBox);
            });
            if (totalNumThings == numThingsLoaded) {
                allThingsButton.style.display = "none";
            }
        }
        function addLoadMatchupsListener(thingBox) {
            thingBox.querySelector(".js-load-matchups").addEventListener("mouseover", async () => {
                const matchupHistory = thingBox.querySelector(".js-matchup-history");
                const ranking = thingBox.querySelector(".js-position-number").textContent;
                const response = await fetch(`/${listSlug}/get-matchups-from-thing?ranking=${ranking}`);
                const data = await response.json();
                matchupHistory.innerHTML = "";
                data.matchups.forEach(matchup => {
                    let matchupBox;
                    if (matchup.result == "win") {
                        matchupBox = wonMatchup.content.cloneNode(true);
                    } else {
                        matchupBox = lostMatchup.content.cloneNode(true);
                    }
                    matchupBox.querySelector(".js-opponent").textContent = matchup.opponent;
                    if (permission == "Public"){
                        matchupBox.querySelector(".js-matchup-username").textContent = `by ${matchup.username}`;
                    }
                    matchupHistory.appendChild(matchupBox);
                });
            }, { once: true });
        }
    </script>
{% endblock %}
{% block main %}
    <main class="main-container">
        <div class="list-name">{{list.name}}</div>
        <div class="list-metadata">
            <div class="list-detail-container">
                <div class="important-details">
                    <a class="list-author-link" href="{% url 'view_profile' list.user.profile.slug %}">
                        <img src="{{list.user.profile.image.url}}" class="profile-picture user-image">
                        <div class="list-author">{{list.user.profile.username}}</div>
                    </a>
                    <div class="dot-separator">&middot;</div>
                    
                    <div class="list-detail-stat-value">{{list.num_things}} Things</div><div class="dot-separator">&middot;</div>
                    <div id="permission" class="list-detail-stat-value">{{list.get_permission_display}}</div><br>
                </div>
                {% if list.description %}
                <div class="list-description">{{list.description}}</div>
                {% endif %}
                <div class="list-details">
                    <div class="list-detail-stat-name">Comparisons Made:</div><div class="list-detail-stat-value">{{list.comparisons_made}} / {{list.comparisons_needed}} ({{ list.comparisons_made|div:list.comparisons_needed|mul:100|floatformat:2 }}%)</div><br>
                    <!-- May have to rewrite this percent system thing -->
                    <div class="list-detail-stat-name">Comparison Model:</div><div class="list-detail-stat-value">{{list.get_comparison_method_display }}</div><br>
                    <div class="list-detail-stat-name">Last Comparison:</div><div class="list-detail-stat-value">{{ list.last_updated|date:"F jS, Y"}} (*11 years ago)</div><br>
                    <div class="list-detail-stat-name">List Created:</div><div class="list-detail-stat-value">{{list.date_created|date:"F jS, Y"}} (*11 days ago)</div><br>
                </div>
                <div>
                    {% if can_rank %}
                        <a href="{% url 'list_rank' list.slug %}">
                            <div class="rank-button">Rank</div>
                        </a>
                        <a href="{% url 'list_copy' list.slug %}">
                            <div class="rank-button">Copy</div>
                        </a>
                    {% endif %}
                    {% if can_edit %}
                    <a href="{% url 'list_edit' list.slug %}">
                        <div class="edit-button">Edit</div>
                    </a>
                    {% endif %}
                </div> 
            </div>
            {% if list.image %}
                <div class="list-image-container">
                    <img class="list-image" src="{{list.image.url}}">
                </div>
            {% endif %}
        </div>
        <div class="multiple-highlight-container">
            <div class="highlight-container">
                <div class="highlight-title">Best 5 Things</div>
                <div class="highlight-five-things-group" id="js-top-five">
                    {% for thing, matchups in top_five %}
                    <div class="highlight-thing">
                        <span class="highlight-position-number"><span class="js-position-number">{{forloop.counter}}</span>.</span>
                        {% if thing.image %}
                            <div class="highlight-thing-name">{{thing.name}}</div>
                            <img class="highlight-thing-image" src="{{thing.image.url}}">
                        {% else %}
                            <div class="highlight-thing-name-only">{{thing.name}}</div>
                        {% endif %}
                        <div class="highlight-thing-record js-load-matchups">
                            <img class="W-win" src="{% static 'images/W-Win.png' %}"><div class="wins-losses-text">{{thing.wins}}</div><div class="record-dash"> -</div><img class="l-lose" src="{% static 'images/L-Lose.png' %}"><div class="wins-losses-text">{{thing.losses}}</div>
                            {% if thing.wins != 0 or thing.losses != 0 %}
                                <div class="past-matchup-sheet js-matchup-history">
                                    Loading Matchups...
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="highlight-container">
                <div class="highlight-title">Worst 5 Things</div>
                <div class="highlight-five-things-group" id="js-bottom-five">
                    {% for thing, matchups in bottom_five %}
                    <div class="highlight-thing">
                        <span class="highlight-position-number"><span class="js-position-number">{{list.num_things|sub:"5"|add:forloop.counter}}</span>.</span>
                        {% if thing.image %}
                            <div class="highlight-thing-name">{{thing.name}}</div>
                            <img class="highlight-thing-image" src="{{thing.image.url}}">
                        {% else %}
                            <div class="highlight-thing-name-only">{{thing.name}}</div>
                        {% endif %}
                        <div class="highlight-thing-record js-load-matchups">
                            <img class="W-win" src="{% static 'images/W-Win.png' %}"><div class="wins-losses-text">{{thing.wins}}</div><div class="record-dash"> -</div><img class="l-lose" src="{% static 'images/L-Lose.png' %}"><div class="wins-losses-text">{{thing.losses}}</div>
                            {% if thing.wins != 0 or thing.losses != 0 %}
                                <div class="past-matchup-sheet js-matchup-history">
                                    Loading Matchups...
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="all-things-container">
            <div id="all-things-list" class="highlight-five-things-group" style="width: 540px;"></div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div id="all-things-button" class="all-things-button">Load All Things</div>
        </div>
        
        <template id="empty-thing-box">
            <div id="thing-box" class="highlight-thing">
                <span class="highlight-position-number"><span class="js-position-number"></span>.</span>
                <!-- Do not change the indentation on this line. It messes with the styling -->
                <div id="thing-record" class="highlight-thing-record js-load-matchups"><img class="W-win" src="{% static 'images/W-Win.png' %}"><div class="wins-losses-text js-thing-wins"></div><div class="record-dash"> -</div><img class="l-lose" src="{% static 'images/L-Lose.png' %}"><div class="wins-losses-text js-thing-losses"></div>
                    <div class="past-matchup-sheet js-matchup-history">
                        Loading Matchups...
                    </div>
                </div>
            </div>
        </template>
        <template id="text-and-image">
            <div style="width: 328px;" class="highlight-thing-name js-thing-name"></div>
            <img class="highlight-thing-image js-thing-image" src="">
        </template>
        <template id="text-only">
            <div style="width: 387px;" class="highlight-thing-name-only js-thing-name-only"></div>
        </template>

        <template id="won-matchup">
            <div class="past-matchup">
                <img class="W-win" src="{% static 'images/W-Win.png' %}"> vs. <span class="js-opponent"></span>
                <span class="past-matchup-author js-matchup-username"></span>
            </div>
        </template>
        <template id="lost-matchup">
            <div class="past-matchup">
                <img class="l-lose" src="{% static 'images/L-Lose.png' %}"> vs. <span class="js-opponent"></span>
                <span class="past-matchup-author js-matchup-username"></span>
            </div>
        </template>

    </main>
{% endblock %}