{% extends "./base.html" %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/list-info.css' %}">
{% endblock %}
{% block main %}
    <div class="list-info-container">
    <div class="list-name">List Name</div>
    <div class="list-metadata">
        <div class="list-detail-container">
            <div class="list-author">Johnathon Doeathon</div><div class="list-detail-stat-value"> &middot; 7832 Things &middot; Private</div><br>
            <div class="list-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ullam provident iste nam sit dicta hic nihil odio officiis esse nemo quibusdam, corporis doloribus doloremque? Nisi earum accusantium facilis tenetur!</div>
            <div class="list-details">
                <div class="list-detail-stat-name">Total Comparisons Needed:</div><div class="list-detail-stat-value">14323</div><br>
                <div class="list-detail-stat-name">Comparisons Made:</div><div class="list-detail-stat-value">1323 (11%)</div><br>
                <div class="list-detail-stat-name">Comparison Model:</div><div class="list-detail-stat-value">Bradley-Terry</div><br>
                <div class="list-detail-stat-name">Last Comparison:</div><div class="list-detail-stat-value">August 10th, 2025 (2 hours ago)</div><br>
                <div class="list-detail-stat-name">List Created:</div><div class="list-detail-stat-value">June 30th, 2025 (11 days ago)</div><br>
            </div>
            <div>
                <a href="#">
                    <div class="all-things-button">See All Things</div>
                </a>
                <a href="{% url 'list_rank' list_slug %}">
                    <div class="rank-button">Rank</div>
                </a>
                <a href="{% url 'list_edit' list_slug %}">
                    <div class="edit-button">Edit</div>
                </a>
            </div> 
        </div>
        <div class="list-image-container">
            <img class="list-image" src="{% static 'images/test-hori.png' %}">
        </div>
    </div>
    <div class="multiple-highlight-container">
        <div class="highlight-container">
            <div class="highlight-title"> Best 5 Things</div>
            <div class="highlight-five-things-group">
                <div class="highlight-thing">
                    <div class="highlight-position-number">1412.</div>
                    <div class="highlight-thing-name">Bread without Butter but with Butter but without butter</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
                <div class="highlight-thing">
                    <div class="highlight-position-number">1413.</div>
                    <div class="highlight-thing-name">Bread without Butter but with Butter but without butter</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
                <div class="highlight-thing">
                    <div class="highlight-position-number">1414.</div>
                    <div class="highlight-thing-name">Bread without Butter but with Butter but without butter</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
                <div class="highlight-thing">
                    <div class="highlight-position-number">1415.</div>
                    <div class="highlight-thing-name">Bread without Butter but with Butter but without butter</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
                <div class="highlight-thing">
                    <div class="highlight-position-number">1416.</div>
                    <div class="highlight-thing-name">Bread</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
            </div>
        </div>
        <div class="highlight-container">
            <div class="highlight-title">Worst 5 Things</div>
            <div class="highlight-five-things-group">
                <div class="highlight-thing">
                    <div class="highlight-position-number">1412.</div>
                    <div class="highlight-thing-name">Bread without Butter but with Butter but without butter</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
                <div class="highlight-thing">
                    <div class="highlight-position-number">1413.</div>
                    <div class="highlight-thing-name">Bread without Butter but with Butter but without butter</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
                <div class="highlight-thing">
                    <div class="highlight-position-number">1414.</div>
                    <div class="highlight-thing-name">Bread without Butter but with Butter but without butter</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
                <div class="highlight-thing">
                    <div class="highlight-position-number">1415.</div>
                    <div class="highlight-thing-name">Bread without Butter but with Butter but without butter</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
                <div class="highlight-thing">
                    <div class="highlight-position-number">1416.</div>
                    <div class="highlight-thing-name">Bread</div>
                    <div class="highlight-thing-record">W72-L70</div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}