{% extends "./base.html" %}
{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/list-card.css' %}">
    <script src="{% static 'scripts/list-card.js' %}"></script>
    {% if owner %}
        <title>Your Profile - Head2Head</title>
    {% else %}
        <title>{{profile.username}}'s Profile - Head2Head</title>
    {% endif %}
{% endblock %}
{% block main %}
<main class="main-container">
    <div class="profile-heading">
        <div class="profile-image-container">
            <img class="profile-image user-image" src="{{profile.image.url}}">
        </div>
        <div class="profile-name">
            {{profile.username}}
        </div>
    </div>
    {% if owner %}
        <div class="profile-buttons-container">
            <a href="{% url 'edit_profile' %}">
                <div class="profile-button">
                    Edit
                </div>
            </a>
            <a href="{% url 'start_logout' %}">
                <div class="profile-button">
                    Logout
                </div>
            </a>
        </div>
    <div class="recently-compared-lists">
        <div class="section-heading">
            Recently Compared Lists
        </div>
        <div class="list-grid">
            {% for list in recent_lists %}
                {% include "./list-card.html" with list=list %}
            {% empty %}
                <div><i>No lists compared</i></div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="recently-compared-lists">
        <div class="section-heading">
            Created Lists
        </div>
        <div class="list-grid">
            {% for list in user_lists %}
                {% include "./list-card.html" with list=list %}
            {% empty %}
                <div><i>No lists created</i></div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
