{% extends "./base.html" %}
{% block extra_head %}
<style>
html {
    background-color: rgb(0, 0, 56);
}
.main-container {
    margin: 8px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-heading {
    display: flex;
    align-items: end;
    gap: 10px;
}
.profile-image-container {
}
.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.profile-name {
    font-size: 40px;
}
.recently-compared-lists {

}
.section-heading {
    font-size: 24px;
    margin-bottom: 5px;
}
.list-of-containers {
    display: flex;
    gap: 10px;
}
</style>
{% endblock %}
{% block main %}
<main class="main-container">
    <div class="profile-heading">
        <div class="profile-image-container">
            <img class="profile-image user-image" src="{{profile.image.url}}">
        </div>
        <div class="profile-name">
            {{profile.username}}
        </div>
    </div>
    <a href="{% url 'edit_profile' %}">
        <div class="header-edit-profile-button">
            Edit
        </div>
    </a>
    <div class="recently-compared-lists">
        <div class="section-heading">
            Recently Compared Lists
        </div>
        <div class="list-of-containers">

            {% for list in recent_lists %}
                {% include "./list-card.html" with list=list %}
            {% empty %}
                <div><i>No lists compared</i></div>
            {% endfor %}

        </div>
    </div>
    <div class="recently-compared-lists">
        <div class="section-heading">
            Created Lists
        </div>
        <div class="list-of-containers">
            {% for list in user_lists %}
                {% include "./list-card.html" with list=list %}
            {% empty %}
                <div><i>No lists created</i></div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
