{% extends "./base.html" %}
{% load static %}
{% block extra_head %}
    <script>
        window.listSlug = "{{ list_slug }}";
        window.initialThings = {{ initial_things|safe }}
    </script>
    <script type="module" src="{% static 'scripts/rank.js' %}"></script>
    <style>
        html, body {
            margin: 0;
            height: 100%;
        }
        .main-container {
            margin: 0;
            height: calc(100vh - 60px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .comparison-boxes {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
        .thing-box {
            padding: 8px 8px 8px 8px;
            background-color: var(--secondary);
            width: 400px;
            border-radius: 8px;
            height: 40vh;
        }
        .thing-box:hover {
            border-color: var(--selected);
        }
        .thing-text {
            text-overflow: ellipsis;
            height: 20%;
            /*font-size: 100%;/* clamp(12px, 100%, 200px); */
            white-space: pre-wrap;
            word-break: break-word;
            overflow: hidden;
        }
        .thing-image {
            border-radius: 8px;
            max-width: 400px;
            max-height: 80%;  
        }
    </style>
{% endblock %}
{% block main %}
<main class="main-container">
    <div class="comparison-boxes">
        Choose the better thing
        <div id="thing-box-1" class="thing-box">
        </div>
        <div>or</div>
        <div id="thing-box-2" class="thing-box">
        </div>
    </div>
</main>
{% endblock %}