.list-of-things-container {
    --thing-width: 504px;
    display: grid;
    gap: 22.5px;
    grid-template-columns: repeat(auto-fit, var(--thing-width));
    max-width: min(calc(100vw - 45px), calc(2 * var(--thing-width) + 1 * 22.5px));
    justify-items: start;
    grid-auto-flow: row;
    padding-bottom: 180px;
}
.thing-container {
    border-radius: 15px;
    width: var(--thing-width);
    box-sizing: border-box;
    /* border-width: 1px;
    border-style: solid; */
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    padding: 12px 12px;
}

.top-row-buttons {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.utility-button-container {
    display: flex;
    align-items: center;
    padding-left: 3px;
    margin-top: -3px;
    gap: 12px;
}
.thing-image-options-container {
    display: flex;
    align-items: center;
    gap: 7.5px;
}
.thing-remove-image-button {
    background-color: var(--primary);
    height: 51px;
    width: 90px;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
}

.thing-image-container {
    height: 51px;
    aspect-ratio: 16 / 9;
    font-size: 18px;
    border-radius: 12px;
    /* background-color: var(--primary); */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.selected-thing-image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: contain;
    background-color: var(--primary);
}
.unselected-thing-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    border: 2.25px dotted var(--highlight);
}
.thing-number {
    text-align: center;
}

.trash-can-icon-container {
    height: 39px;
    border-radius: 12px;
    background-color: var(--primary);
}
.trash-can-icon-image {
    height: 39px;
}
.info-icon-container {
    height: 39px;
    border-radius: 12px;
    background-color: var(--primary);
}
.info-icon-image {
    height: 39px;
} 

.thing-name-input {
    background-color: var(--primary);
    height: 33px;
    font-size: 24px;
    width: calc(100% - 12px);
}


.add-new-thing-container {
    /* margin-left: 1.5px; */
    border-style: dashed;
    border-radius: 12px;
    border-width: 2.25px;
    height: 130.5px;
    width: var(--thing-width);
    border-color: var(--highlight);
    color: var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
}