:root {
    --primary: #0a092c;
    --secondary: #2e3855;
    --tertiary: #1a1d27;
    --highlight: #f6f7fb;
    --selected: #adb6f7;
    --important: #4056f9;
    --greyedout: #757575;
    --logo-red: #ff2850;
    --logo-blue: #3278ff;
    font-family: Outfit;
}
input[type='file'] {
    color: transparent;
}
body {
    background-color: var(--primary);
    margin: 0px 0px 0px 0px;
}
.list-of-things-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.thing-container {
    border-radius: 10px;
    height: 40px;
    width: 500px;
    /* border-width: 1px;
    border-style: solid; */
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thing-name-input {
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    height: 26px;
    width: 296px;
    border-style: hidden;
    border-color: var(--tertiary);
    border-radius: 8px;
    font-weight:100;
    background-color: var(--primary);
    color: var(--highlight); 
}
.thing-name-input::placeholder {
    color: var(--highlight);
    font-weight:100;
}
.thing-name-input:focus {
    outline: 1px solid var(--selected);
}
.thing-file-input {
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    height: 26px;
    border-style: hidden;
    border-color: var(--tertiary);
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--highlight); 
    font-weight:300;   
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;        
}
.trash-can-icon-container {
    margin: 0px 5px 0px 5px;
    height: 26px;
    border-radius: 8px;
    background-color: var(--primary);
}
.trash-can-icon-image {
    height: 26px;
}
.info-icon-container {
    margin: 0px 5px 0px 5px;
    height: 26px;
    border-radius: 8px;
    background-color: var(--primary);
}
.info-icon-image {
    height: 26px;
}
.add-new-thing-container {
    /* margin-left: 1.5px; */
    margin-top: 10px;
    border-style: dashed;
    border-radius: 8px;
    border-width: 1.5px;
    height: 40px;
    width: 497px;
    border-color: var(--highlight);
    color: var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-header {
    position: sticky;
    top: 0;
    background-color: var(--primary);
    z-index: 100; 
    color: var(--highlight);
    font-weight:500px;
    display: flex;
    gap: 50px;
    justify-content: left;
    align-items: center;
}
.create-list-button-container {
    
}
.create-list-button {
    background-color: var(--important);
    color: var(--highlight);
    border-radius: 5px;
}

.main-container {
    margin: 8px 0px 0px 8px;
}
.list-name-input {

}
.list-file-input {
    color: white;
}
.list-description-input {
    
}
