.website-header {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    color: var(--highlight);
    background-color: var(--tertiary);
    padding: 5px 8px 5px 8px;
}
.website-logo-image {
    height: 34px;
    margin-top: 4px;
}

.create-button-container {
    display: flex;
    align-items: center;
    justify-content: left;
}
.create-plus-image {
    height: 26px;
}
.create-plus-word {
    
}