.primary-container {
    padding-left: 0;
    padding-right: 0;
}
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22.5px;
}
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.website-name {
    font-size: 60px;
}
.big-logo {
    height: 240px;
}

.create-list-image, .rank-image, .list-info-image {
    border-radius: 7.5px;
}
.first-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    width: 100%;
    height: 570px;
}
.second-description-container {
    width: 745px;
    height: 540px;
    position: relative;
    border-radius: 10px;
    background-color: var(--primary);
}
.absolute-container{
    top: 15px;
    left: 15px;
    position: relative;
    width: 715px;
    height: 510px;
    background-color: var(--primary);
}
.create-list-image {
    width: 439.5px;
    position: absolute;
    top: 0;
    left: 0;
}
.create-list-text{
    text-align: center;
    position: absolute;
    left: 445px;
    top: 5px;
}
.rank-image {
    height: 280px;
    position: absolute;
    top: 105px;
    left: 481px;
}
.rank-text{
    text-align: center;
    position: absolute;
    top: 282px;
    left: 20px;
}
.list-info-image {
    width: 439.5px;
    position: absolute;
    top: 381px;
    left: 0px;
}
.list-info-text {
    text-align: center;
    position: absolute;
    top: 392px;
    left: 450px;
}

.getting-started {
    
}
.getting-started-text {
    margin-bottom: 12px;
}
.redirect-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.large-create-button, .large-explore-button {
    border-radius: 12px;
    height: 135px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
}
.large-create-button {

}
.large-explore-button {}
.large-plus-icon {
    height: 90px;
    aspect-ratio: 1;
}
.large-explore-icon {
    height: 90px;
    width: 90px;
}