.main-container {
    width: 1125px;
}
.list-name {
    font-size: 60px;
    margin: 7.5px 0px;
}
.list-metadata{
    display: flex;
    margin-bottom: 12px;
    gap: 7.5px;
}
.list-image-container {
    width: 450px;
    display: flex;
    justify-content: right;
    border-radius: 12px;
    text-align: right; 
    overflow: hidden;
    align-items: flex-start;
}
.list-image {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.list-detail-container {
    width: 615px;
}
.list-description {
    margin: 6px 0px;
}
.list-details {
    display: inline-block;
}
.important-details, .list-author-link {
    display: flex;
    align-items: center;
    font-size: 27px;
    gap: 7.5px;
}
.profile-picture {
    height: 27px;
    width: 27px;
    border-radius: 13.5px;
}
.list-author {
    display: inline-block;
}
.dot-separator {
    display: inline-block;
}
.list-detail-stat-name {
    display: inline-block;
    padding: 3px 7.5px 3px 0px;
    color: #6e7895;
}
.list-detail-stat-value {
    display: inline-block;
    color: var(--highlight)
}

.rank-button, .edit-button, .all-things-button {
    margin-top: 4.5px;
    display: inline-block;
    border-radius: 12px;
    background-color: var(--secondary);
    padding: 7.5px 7.5px;
}
.multiple-highlight-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.highlight-title {
    text-align: center;
}
.highlight-five-things-group {
    width: 540px;
    border-radius: 12px;
    border: 1.5px solid var(--secondary);
}
.highlight-five-things-group:empty {
    border-width: 0px;
}
.highlight-thing {
    display: flex;
    align-items: center;
    gap: 7.5px;
    border-bottom: 1.5px solid var(--secondary);
    padding: 3px 7.5px;
}
.highlight-thing:last-child {
    border-width: 0px;
}
.highlight-position-number {
    display: inline;
    text-align: center;
    width: 60px;
}
.highlight-thing-name {
    width: 222px;
    text-align: left;
}
.highlight-image-container {
    display: flex;
    justify-content: center;
}
.highlight-thing-image {
    height: 45px;
    width: 81px;
    object-fit: contain;
}
.highlight-thing-name-only {
    width: 310.5px;
    text-align: left;
}


.highlight-thing-record {
    width: 135px;
    display: inline-block;
    text-align: right;
}

.past-matchup {
    text-align: left;
}
.wins-losses-text {
    display: inline-block;
    font-family: "Google Sans Code", monospace;
    margin-top: -1.5px;
}
.W-win {
    height: 17.25px;
    display: inline-block;
    margin: 0px 4.5px;
}
.l-lose {
    height: 18px;
    display: inline-block;
    margin: 0px 4.5px;
}
.record-dash {
    display: inline-block;
    margin-left: 4.5px;
    position: relative;
    z-index: 0;
    top: -3px;
}

.past-matchup-author {
    font-size: 21px;
    color: var(--greyedout);
}

.all-things-container {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

/* Matchups Pop-up */
.highlight-thing-record .past-matchup-sheet {
    z-index: 1;
    opacity: 0;
    transition: opacity 0.15s;
    position: absolute;
    transform: translateX(-30px);
    margin-top: 7.5px;
    pointer-events: none;
    white-space: nowrap;
    background-color: var(--secondary);
    padding: 12px 12px;
    border-radius: 12px;
}
.highlight-thing-record:hover .past-matchup-sheet {
    opacity: 1;
}

.highlight-thing-record .past-matchup::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 30px;
  margin-left: -7.5px;
  border-width: 7.5px;
  border-style: solid;
  border-color: transparent transparent var(--secondary) transparent;
}